
.contenedor{
    color: white;
    background-color:rgb(0, 40, 66) ;

    text-align: center;
    border-bottom: 5px solid rgb(247, 234, 165) ;
    padding-top: 5px;
}
.app{
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: Bahnschrift Light;
}
@media (max-width: 500px) {
    .app{
        font-size: 35px;
        text-align: center;
    }
}


.slogan{
    margin-top: 10px;
    color: gold;
    font-family: Bahnschrift Light;
}
@media (max-width: 500px) {
    .slogan{
        font-size: 12px;
    }
}

.about{
    color: lightblue;
    text-decoration: none;
    font-family: Bahnschrift Light;

    

}
.logo{
    width: 100px;
}
.barra{
    width: 100%;
    display: flex;
}
.home{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 5px;
}
.divSearch{
    width: 50%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    padding-bottom: 5px;
    padding-left: 10px;
}
.suported{
    font-size: 11px;
    font-weight: bold;
    color: goldenrod;
    font-family: Bahnschrift Light;
}
@media (max-width: 500px) {
    .suported{
        font-size: 7px;
    }
}
